/* Picture that is under the header. */
.top-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(172, 148, 81, 0.58), rgba(0, 0, 0, 0.3)), url("../images/lighthouseCropped.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  background-size: cover;
}

/* Sets the formatting of the header on top of the image. */
.top-picture > span {
  color: white;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

/* Styles the dropdown wrapper. */
#accordion-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Sets the formatting of the answer below the question. */
#accordion div {
  max-width: 40em;
}

/* Sets the formatting of the question. */
#accordion > h3 {
  font-size: 20px;
}
