/* 
    The background picture of page.
    Centers automatically with dimension changes.
    A gold to black overlay is added to the picture to make the text more readable.
*/
.homepage-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(172, 148, 81, 0.58), rgba(0, 0, 0, 0.3)), url("../images/lighthouseCropped.png");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    background-size: cover;
}

/* The client name on the background picture. */
.homepage-picture>span.client-name {
    position: absolute;
    color: white;
    top: 170px;
    font-size: 60px;
    white-space: nowrap;
    min-width: 250px;
}

/* Subtext under the client's name. */
.homepage-picture>span.client-subtext {
    position: absolute;
    color: white;
    top: 250px;
    font-size: 25px;
    white-space: nowrap;
    min-width: 250px;
}

/* The button on the background picture. */
.homepage-picture>button {
    position: relative;
    font-size: 25px;
}





/* Flexbox that acts as a container to center the information.*/
.information-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
}

/* Grid that organizes the headers and information. */
.information-grid {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3, minmax(15rem, 1fr));
    grid-gap: 1vh 3vw;
    color: #000000;
    margin: 20px;
}

/* 
    Each piece of text in the first section is given a font size and max width. 
    Prevents text from becoming too wide if the browser is expanded.
*/
.information-grid>span {
    max-width: 400px;
    font-size: large;
}

/* Manages the headers for the information grid. */
span.information-grid>a {
    text-align: center;
    font-size: x-large !important;
    font-weight: 700;
    margin-bottom: 12px;
}





/* Positions image in the second section. */
.section-grid.client-details>img {
    grid-column: 4;
    grid-row: 1 / span 6;
    transform: scale(0.9);
}

/* Header of second section */
.section-grid.client-details>span:nth-child(2) {
    grid-column: 5 / 10;
    grid-row: 2 / 3;
    color: #ededed;
    font-size: 30px;
}

/* Paragraph of second section */
.section-grid.client-details>span:nth-child(3) {
    grid-column: 5 / 10;
    grid-row: 3 / 4;
    color: #ededed;
    font-size: 20px;
}

/* List of second section */
.section-grid.client-details>div:nth-child(4) {
    grid-column: 5 / 10;
    grid-row: 4 / 5;
    color: #ededed;
    font-size: 20px;
}

/* Contact information of second section */
.section-grid.client-details>span:nth-child(5) {
    grid-column: 5 / 10;
    grid-row: 5 / 6;
    color: #ededed;
    font-size: 15px;
}





/* Positions the image in the third section. */
.section-grid.schedule>img {
    grid-column: 4;
    grid-row: 1 / span 6;
    color: #ededed;
    transform: scale(0.9);
}

/* Positions the header in the third section. */
.section-grid.schedule>span:nth-child(2) {
    grid-column: 5 / 11;
    grid-row: 1;
    margin-top: 15px;
    font-size: 30px;
}

/* Positions the second header in the third section. */
.section-grid.schedule>span:nth-child(3) {
    grid-column: 5 / 11;
    grid-row: 2;
    font-size: 20px;
}

/* Positions the first paragraph in the third section. */
.section-grid.schedule>span:nth-child(4) {
    grid-column: 5 / 8;
    grid-row: 3;
}

/* Specifies the width of all buttons in the third section. */
.section-grid.schedule>button {
    width: 200px;
}

/* Positions the first button in the third section. */
.section-grid.schedule>button:nth-child(5) {
    grid-column: 5 / 6;
    grid-row: 4;
}

/* Positions the second paragraph in the third section. */
.section-grid.schedule>span:nth-child(6) {
    grid-column: 5 / 9;
    grid-row: 5;
    max-width: 500px;
    margin-top: 15px;
}

/* Positions the second button in the third section. */
.section-grid.schedule>button:nth-child(7) {
    grid-column: 5 / 6;
    grid-row: 6;
}