/* Defaults for elements */
/* To be used across the site */

/* Prevents elements from being minimized too much.*/
body {
    min-width: 1000px;
}

/* Place footer at bottom of page */
.footer {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    border-top-color: #ad9058;
    border-top-style: solid;
    margin-top: 20px;
    bottom: 0;
}

/* Sets the color and margin of the body */
body {
    background-color: #ededed;
}

/* Switches the default color of the text */
a {
    color: black;
}

/* Changes the color of the text on mouse hover */
a:hover {
    color: #ad9058;
}

/* Default styling for buttons */
button {
    background-color: #ad9058;
    color: #ededed;
    text-decoration: underline;
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 20px;
}

/* Default styling for buttons on mouse hover */
button:hover {
    background-color: #6d5937;
    cursor: pointer;
    border: none;
}

/* Creates a grid for each section of the page.
    Is applied to each child div.*/
.display-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(10em, auto));
    grid-template-rows: 50ch 450px;
    background-color: #ededed;
}

/* 
    Sets a dark background for every other section
    to help the user differentiate between sections. 
*/
.display-grid>*:nth-child(2n) {
    background-color: #222526;
    color: #ededed;
}

/* Sets the padding for all sections */
.display-grid>* {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Grid used for sections of the page. */
.section-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}